<h1>Articles</h1>

<p>Our blog has <%= Article.public_count %> articles and counting!</p>

<% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
  </li>
<% end %>

<%= link_to "New Article", new_article_path, class: 'bg-blue-700 text-white p-2' %>