<header class='<%= 
  [ 'border-b border-gray-500',
    'flex place-content-between'
  ].join(' ')
%>'>
  <div>Railsblog</div>
  <nav>
    <ul>
      <li>Articles</li>
      <li>Docs</li>
    </ul>
  </nav>
</header>