@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-500;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  li {
    @apply list-none;
  }

  button,
  input[type="submit"] {
    @apply bg-blue-700 text-white p-2;
  }

  input[type="text"],
  textarea,
  select {
    @apply border border-gray-500;
  }
}
