name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  tests:
    strategy:
      matrix:
        ruby-version:
          - "2.7.1"
        rails-version:
          - "6.1.3"
        continue-on-error: [ false ]

    env:
      RAILS_VERSION: "${{ matrix.rails-version }}"

    name: ${{ format('Tests (Ruby {0}, Rails {1})', matrix.ruby-version, matrix.rails-version) }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.continue-on-error }}

    steps:
      - uses: actions/checkout@v1

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Prepare DB and run tests
        run: |
          bin/rails db:test:prepare
          bin/rails test:all
